@media (max-width: 767px){
  .jumbotronServices h1 {
    font-size: 52px !important;
  }
}

.jumbotronServices {
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("./images/office.jpg");
  text-align: center !important;
  padding-top: 250px !important;
  background-color: #fff !important;
  height: 600px !important;
  border-bottom-style: solid;
  border-bottom-color: grey;
  border-bottom-width: 1px;
  color: white!important;
  margin-bottom: 0px !important;
}

.jumbotronServices h1 {
  font-size: 72px;
}

.serviceList {
  padding-top: 50px;
  padding-bottom: 50px;
}

.square h2 {
  padding-top: 10px;
}
.square h4 {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
}

.setup {
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("./images/laptop.jpg");
  padding-top: 50px;
  padding-bottom: 50px;
  color: white;
}

.setup h1 {
  letter-spacing: 3px;
}
